 <!--add header-filter-->
 <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bimbi.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <!--<div class="brand text-center">
            <img src="assets/img/Fism.png" style="width:50%;height:auto;">
            <h1 class="title text-center" style="color:black;margin-top:0">CAMPANIA</h1>
          </div>-->
        </div>
      </div>
    </div>
  </div>
<div class="main main-raised">
    <div class="container">
      <div class="section text-center">



        <div class="section section-examples">
          <div class="container-fluid text-center">
            <div class="tim-typo" style="padding-left:0px;">
              <h1 class="title">
                <span class="tim-note"><i class="fa fa-4x fa-globe"></i></span>SERVIZI
              </h1>
            </div>
            <div class="row">
              <div class="col-md-3">

                <div class="card pt-3 info-card">
                  <a href="examples/landing-page.html" target="_blank">
                    <div class="card-body">
                      <span><i class="fa fa-4x fa-group"></i></span>

                      <div class="progress progress-line-primary mt-3">
                        <div class="progress-bar progress-bar-primary my-progress" role="progressbar">
                        </div>
                      </div>

                      <div class="card-title pt-3">CHI SIAMO</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-3">

                <div class="card pt-3 info-card">
                  <a href="examples/landing-page.html" target="_blank">
                    <div class="card-body ">
                      <span><i class="fa fa-4x fa-location-arrow"></i></span>

                      <div class="progress progress-line-primary mt-3">
                        <div class="progress-bar progress-bar-primary my-progress" role="progressbar">
                        </div>
                      </div>

                      <div class="card-title pt-3">FISM PROVINCE</div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-3">

                <div class="card pt-3 info-card">
                  <a href="examples/landing-page.html" target="_blank">
                    <div class="card-body">
                      <span><i class="fa fa-4x fa-file-text-o"></i></span>

                      <div class="progress progress-line-primary mt-3">
                        <div class="progress-bar progress-bar-primary my-progress" role="progressbar">
                        </div>
                      </div>

                      <div class="card-title pt-3">NORMATIVE</div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-3">

                <div class="card pt-3 info-card">
                  <a href="examples/landing-page.html" target="_blank">
                    <div class="card-body">
                      <span><i class="fa fa-4x fa-newspaper-o"></i></span>

                      <div class="progress progress-line-primary mt-3">
                        <div class="progress-bar progress-bar-primary my-progress" role="progressbar">
                        </div>
                      </div>

                      <div class="card-title pt-3">NEWS</div>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Carousel bootstrap-->
    
    <!--\Carousel Bootstrap-->
    <div class="container">
    <div class="section section-examples">
    <div class="container-fluid">
      <div class="tim-typo">
        <h1 class="title">
          <span class="tim-note"><i class="fa fa-4x fa-newspaper-o"></i></span>NEWS </h1>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-100 mx-auto">
          <div class="carousel-item col-md-4 active">
            <div class="card info-card">
              <div class="card-body">
                <h4 class="card-title">Card 1</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4">
            <div class="card info-card">
              <div class="card-body">
                <h4 class="card-title">Card 2</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4">
            <div class="card info-card">
              <div class="card-body">
                <h4 class="card-title">Card 3</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4">
            <div class="card info-card">
              <div class="card-body">
                <h4 class="card-title">Card 4</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4">
            <div class="card info-card">
              <div class="card-body">
                <h4 class="card-title">Card 5</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4">
            <div class="card info-card">
              <div class="card-body">
                <h4 class="card-title">Card 6</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-4">
            <div class="card info-card">
              <div class="card-body">
                <h4 class="card-title">Card 7</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is
                  a little bit longer.</p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mt-4">
              <a class="btn btn-outline-secondary mx-1 prev"  data-target="#myCarousel" title="Previous">
                <i class="fa fa-lg fa-chevron-left"></i>
              </a>
              <a class="btn btn-outline-secondary mx-1 next"  data-target="#myCarousel" title="Next">
                <i class="fa fa-lg fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

    <div class="section section-white">
      <div class="container">
        <!--                 nav pills -->
        <div id="navigation-pills">
          <div class="tim-typo">
            <h1 class="title">
              <span class="tim-note"><i class="fa fa-4x fa-location-arrow"></i></span>FISM PROVINCE </h1>
          </div>
          <div class="row">

            <div class="col-lg-10 col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                    <!--
                                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                    -->
                    <li class="nav-item">
                      <a class="nav-link active" href="#dashboard-2" target="_self" role="tab" data-toggle="tab">
                        FISM <br/>SALERNO
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#schedule-2" target="_self" role="tab" data-toggle="tab">
                        FISM <br/>AVELLINO
                      </a>
                    </li>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#schedule-3" target="_self" role="tab" data-toggle="tab">
                        FISM  <br/>NAPOLI
                      </a>
                    </li>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#schedule-4" target="_self" role="tab" data-toggle="tab">
                        FISM <br/>CASERTA
                      </a>
                    </li>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#schedule-5" target="_self" role="tab" data-toggle="tab">
                        FISM <br/>BENEVENTO
                      </a>
                    </li>


                  </ul>
                </div>
                <div class="col-md-8">
                  <div class="tab-content">
                    <div class="tab-pane active" id="dashboard-2">
                      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                      <br>
                      <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                    </div>
                    <div class="tab-pane" id="schedule-2">
                      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                      <br>
                      <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                    </div>
                    <div class="tab-pane" id="schedule-3">
                      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                      <br>
                      <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                    </div>
                    <div class="tab-pane" id="schedule-4">
                      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                      <br>
                      <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                    </div>
                    <div class="tab-pane" id="schedule-5">
                      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                      <br>
                      <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                    </div>
                    <div class="tab-pane" id="schedule-6">
                      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                      <br>
                      <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--                 end nav pills -->
      </div>
    </div>
    <!-- end section fism province-->

    <!--Carousel-->
    
    <!--\Carousel-->
    <!--Chi siamo-->
    <div class="section section-tabs">
      <div class="container ">
        <div class="tim-typo">
          <h1 class="title">
            <span class="tim-note"><i class="fa fa-4x fa-group"></i></span> CHI SIAMO </h1>
        </div>
        <div class="row ">
          <div class="col-md-8 ml-auto mr-auto ">

            <h4>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</h4>
            <hr/>
            <p class="text-center"><span><i class="fa fa-2x fa-plus"></i></span> <span style="position:relative;top:-5px;">Leggi di più...</span></p>
          </div>

        </div>
      </div>
    </div>
    <!-- /Chi siamo -->

    <!--Contatti-->
    <div class="section">
      <div class="container ">
        <div class="tim-typo">
          <h1 class="title">
            <span class="tim-note"><i class="fa fa-4x fa-address-card"></i></span> CONTATTI </h1>
        </div>
        <div class="row ">
          <div class="col-md-8 ml-auto mr-auto ">
            <p ><h4>Segreteria operativa FISM Campania:</h4><br>
              Via Bollani, 20 – 25123 Brescia.</p>
            <p ><h4>Recapito Telefonico: &nbsp;030.295466 – Fax: 030.7281970</h4></p>
            <p ><h4>E-mail:&nbsp;<a href="mailto:segreteria@fismcampania.it">segreteria@fismlombardia.it</a></h4></p>
            <p><h4>Per segnalazioni inerenti l’aggiornamento del Progetto Educativo, siete pregati di inviare una mail a <a href="mailto:progettoeducativo@fismlombardia.it">progettoeducativo@fismlombardia.it</a></h4></p>
           </div>

        </div>
      </div>
    </div>
    <div class="sharing-area text-center">
      <div class="row justify-content-center">
        <h3>Thank you for supporting us!</h3>
      </div>
      <button id="twitter" class="btn btn-raised btn-twitter sharrre">
        <i class="fa fa-twitter"></i> Tweet
      </button>
      <button id="facebook" class="btn btn-raised btn-facebook sharrre">
        <i class="fa fa-facebook-square"></i> Share
      </button>
      <button id="googlePlus" class="btn btn-raised btn-google-plus sharrre">
        <i class="fa fa-google-plus"></i> Share
      </button>

    </div>
    <!--/Contatti-->
  </div>